@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #202020;
}

.container {
    width: 1170px;
    margin: auto;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color: #fed700;
}