/* Medium layout */
@media only screen and (min-width:1000px) and (max-width:1200px) {
    .container {
        width: 970px;
    }
}

@media(max-width:1050px) {
    .FirstElement {
        flex-direction: column;
        padding-top: 2rem;
    }

    .profile-text {
        padding: 40px 0px;
    }
}

/* Tablet layout */
@media only screen and (min-width:768px) and (max-width:999px) {
    .container {
        width: 750px;
    }
}

/* Mobile Layout */
@media only screen and (max-width:767px) {
    .container {
        width: 350px;
    }

    .header .menu_icon {
        display: block;
    }

    .header ul {
        display: none;
    }

    .header i {
        color: #e5e5e5;
    }

    .profile-text {
        width: 350px;
    }

    .FirstElement .profile-text p {
        text-align: justify;
    }

    .about {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .about-skills {
        width: 100%;
        margin-top: 30px;
    }

    .education-content .row {
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }

    .education-content .row .education,
    .education-content .row .internship {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 30px;
    }

    .project {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}